@import '../common'

.copyright
  background-color $accentColor
  height 1rem
  padding 1rem
  text-align center
  *
    color $lightTextColor

.copyright
  strong
    font-size 0.9rem
      
.copyright
  span
    font-size 0.9rem
    font-weight bold
    padding-left 1rem
    .active
      text-decoration none