@import '<%= commonPath %>'

.<%= hyphenated %>
  background-color $darkTextColor
  height 10rem
  padding 3rem
  *
    color $lightTextColor
  h1
    font-size 5.0rem
    display inline
  h3
    font-size 1.4rem